:root {
    --background-color: #000000;
    --display-text-color: #ffffff;
    --button-text-color: #ffffff;
    --number-bg-color: #1C1C1C;
    --gear-color: #D4D4D2;
    --concrete: #505050;
    --top-row-bg-color: #D4D4D2;
    --operator-color: #FF9500;
    --clear: transparent;
    --black: #000000;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

/* Entire calculator */
.calculator {
    background-color: var(--background-color);
    width: 100%;
    max-width: 360px;
    max-height: 660px;
    border-radius: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 115px 40px auto;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
}

/* Calculator display */
.display {
    color: var(--display-text-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;
}

.display p {
    margin: 0;
    display: block;
}

.display .output {
    font-size: 50px;
}

/* Themes */
.settings-button {
    background-color: var(--clear);
    border: none;
    font-size: 30px;
    padding: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--gear-color);
    margin-left: auto;
    box-sizing: content-box;
}

.themes {
    position: absolute;
    width: 42%;
    background-color: var(--number-bg-color);
    margin-top: 80px;
    box-sizing: border-box;
    right: 0;
    color: var(--button-text-color);
    overflow: hidden;
}

.show-dropdown {
    height: 32%;
    transition: all 0.2s ease-out;
}

.hide-dropdown {
    height: 0;
    transition: all 0.2s ease-out;
}

.themes h4 {
    padding: 0 20px;
    text-transform: uppercase;
}

.themes p {
    padding: 8px 20px;
    cursor: pointer;
    margin: 0;
}

.themes p:hover {
    background-color: var(--top-row-bg-color);
    color: var(--black);
}

.selected {
    background-color: var(--top-row-bg-color);
    color: var(--black);
} 

/* Action buttons */
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.actions .history-button {
    background-color: var(--clear);
    border: none;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
}

.actions .input {
    font-size: 25px;
    color: var(--display-text-color);
}

/* Calculator history */
.history {
    position: absolute;
    width: 75%;
    height: 73%;
    background-color: var(--number-bg-color);
    transition: transform 1s ease;
    margin-top: 172px;
    padding: 20px;
    box-sizing: border-box;
    left: -500px;
    display: flex;
    flex-direction: column;
    color: var(--button-text-color);
}

.history-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.history-title h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.history-text {
    overflow: scroll;
    scrollbar-width: none;
    margin: 0 0 24px;
}

.close {
    margin-left: auto;
    background-color: var(--top-row-bg-color);
    border: solid var(--top-row-bg-color) 1px;
    border-radius: 50%;
    color: var(--black);
    padding: 5px 8px;
    cursor: pointer;
}

.show-history {
    transform: translate3d(500px, 0, 0);
    transition: transform 1s ease;
}

.equation {
    color: var(--button-text-color);
    font-size: 14px;
    margin: 8px 0 5px;
}

.answer {
    color: var(--button-text-color);
    font-size: 18px;
    margin: 0;
    border-bottom: var(--top-row-bg-color) 1px;
    padding-bottom: 12px;
}

.clear {
    margin-top: auto;
    cursor: pointer;
    background-color: var(--top-row-bg-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--black);
}

/* Calculator buttons */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
}

.buttons button {
    color: var(--button-text-color);
    font-size: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.wide {
    grid-column: 1 / span 2;
}

.operator-color {
    background-color: var(--operator-color);
}

.number-bg-color {
    background-color: var(--number-bg-color);
}

.top-row-bg-color {
    background-color: var(--top-row-bg-color);
    color: var(--black) !important;
}

